
/* General CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  clear: both;
}

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

/* General CSS */
h2 {
  font-size: 16px;
  font-weight: 900;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

a,a:visited,h1{
  color:#4a4a4a;
}

h2
 {
  color: #eb4d4b;
  text-decoration: underline;
}
h3{
  color:#f0932b;
}
p {
  color: #747474;
  font-family:'Lato', sans-serif;
}
hr {
  border-color: #dddcdc;
  border-style: solid;
}

/* Wrappers */
.wrapper {
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  margin: 0 auto;
  width: 90%;
}
/* Header */
  /* Nav */
.main-nav {
  display: block;
  font-size: 0.7em;
  font-weight: bolder;
}

.main-nav h1 {
  padding: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
}
.nav-links a {
  background-color: #fff;
  margin: 2px;
  padding: 10px;
}
  /* About-Me */
.about-text {
  font-size: 0.7em;
  line-height: 1.5;
}
.main-header {
  font-size: 1.3em;
  padding-bottom: 30px;
}
.header-image {
  margin: 35px 0 20px 0;
  width: 70%;
}
/* Portfolio */

#portfolio {
  margin: 0 auto;
  background-color: #fff;
}
#portfolio h2 {
  padding: 50px 0;
}
#portfolio p {
  color: #4a4a4a;
  line-height: 1.5;
}
.portfolio-item h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-image {
  width: 100%;
}
.portfolio-item p {
  padding: 12px;
}

/* Contact */
#contact {
  margin: 25px 0;
  padding: 25px;
}
#contact h2 {
  margin-bottom: 25px;
}
.contact-info {
  padding: 10px;
}
.contact-summary {
  margin: 20px 0;
}

/* Experience */
#experience h2{
  padding: 50px 0;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  width:100%;
  margin:0 auto;
  text-align: center;
  border-bottom: 4px solid #ccc;
}
.card:hover {
  border-color: #ff7979;
}

.card h2 {
  text-decoration: underline;
  text-decoration-color: #eb4d4b;
}
.card h3,
.card i {
  text-align: center;
}


.fas {
  color: #eb4d4b;
  margin-bottom: 25px;
}

.fas {
  color: #eb4d4b;
  margin-bottom: 25px;
}

.experience {
  list-style-type: none;
  text-align: center;
  padding: 25px;
}

.experience {
  list-style-type: none;
  text-align: center;
  padding: 25px;
}


/* Footer */
.top-button {
  display: none;
  visibility: hidden;
}
/* Footer nav  */
.footer-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  font-weight: bolder;
  padding: 25px 5px;
}
.footer-nav .nav-links {
  display: none;
  visibility: hidden;
  margin-left: auto;
}
.top-button {
  display: block;
  visibility: visible;
}

/* =============== */
/* Media Queries */

/* ====Desktop==== */
@media only screen and (min-width: 1024px) {
  .main-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .header-image {
    width: 55% !important;
  }

  /* Porfolio  */
  .col-md-3 {
    width: 33.3333% !important;
  }
  .portfolio-item {
    padding: 10px;
  }
  .portfolio-image {
    width: 100%;
  }
  /* Footer */
  .footer-nav {
    padding-bottom: 25px !important;
  }
}

/* ====Tablet==== */
@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }

  body {
    font-size: 1.3em;
  }
  /* Nav */
  .main-nav {
    padding: 40px 0;
  }
  .student-name h1 {
    padding-bottom: 35px;
  }
  .main-nav .nav-links {
    display: inline-block;
  }
  .nav-links a {
    background-color: transparent;
  }
  .about-me {
    display: flex;
    padding: 25px 0;
  }
  .about-text {
    line-height: 1.5;
    margin-right: 1%;
    order: 1;
    text-align: left;
    width: 70%;
  }
  .header-image {
    align-self: flex-start;
    order: 2;
    margin: 0;
    width: 41%;
  }

  /* Portfolio */
  .col-md-6 {
    width: 50%;
  }
  .portfolio-item {
    margin-bottom: 45px;
    padding: 5px;
  }

  .portfolio-item p {
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }

  /* Experience */
  
  .card{
    width:33.333%;
  }
  /* Contact */
  #contact h2 {
    padding: 25px;
  }
  .contact-summary {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 75%;
  }
  /* Footer */
  .footer-nav {
    padding-bottom: 80px;
  }
  .footer-nav .nav-links {
    display: block;
    visibility: visible;
    margin-left: auto;
  }
  .top-button {
    display: none;
    visibility: hidden;
  }
}
