@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* General CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  clear: both;
}

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.wrapper {
  background-color: rgb(241, 241, 241);
  max-width: 1024px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  margin: 0 auto;
  width: 90%;
}

/* NAV CSS */
nav a {
  color: #0c0c0c;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: #0c0c0c;
}
h2,
h3 {
  color: #0c0c0c;
}

/* Header */
.main-nav {
  font-weight: bolder;
}
.main-header {
  font-size: 1.3em;
}
.about-me {
  color: #747474;
}

.about-me p {
  order: 1;
}
.header-image {
  order: 2;
}

/* Portfolio */

#portfolio {
  margin: 0 auto;
  background-color: #fff;
}
#portfolio h2 {
  padding: 50px 0;
}
#portfolio p {
  color: #4a4a4a;
  line-height: 1.5;
}
.portfolio-item h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-image {
  width: 100%;
}
.portfolio-item p {
  padding: 12px;
}
/* Contact */
#contact {
  margin: 25px 0;
  padding: 25px;
}
#contact h2 {
  margin-bottom: 25px;
}
.contact-info {
  padding: 10px;
}
.contact-summary {
  margin: 10px 0;
}

/* Footer */
.top-button {
  display: none;
  visibility: hidden;
}
/* Footer nav  */
.footer-nav {
  align-items: center;
  display: flex;
}
.footer-nav .nav-links {
  margin-left: auto;
}
/* =============== */
/* Media Queries */

/* Above 769px  */
@media only screen and (min-width: 770px) {
  .wrapper {
    margin: 0 auto;
    padding: 20px;
  }
  .main-header {
    line-height: 1.5;
    margin-right: 25px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  .main-nav {
    align-items: center;
    display: flex;
    padding: 10px;
  }
  .main-header nav {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .nav-links {
    margin-left: auto;
  }
  .nav-links a:not(:last-child) {
    margin-right: 20px;
  }
  .about-me {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
  }
  .about-me p {
    margin-right: 40px;
  }
  .header-image {
    width: 100%;
  }
  .img-container {
    order: 2;
    flex-grow: 8;
  }
  /* Porfolio  */
  .col-md-3 {
    width: 33.3333%;
  }

  .portfolio-item {
    padding: 10px;
  }
  .portfolio-image {
    width: 100%;
  }
}

/*=============Tablet=================== */
@media only screen and (max-width: 768px) and (min-width: 321px) {
  .main-header {
    font-size: 2.25vw;
    line-height: 1.2;
    padding: 50px;
    text-align: center;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
  /* Nav */
  .main-nav {
    width: 100%;
  }

  .main-nav .nav-links a {
    padding: 0 25px;
  }
  .main-nav .nav-links {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .about-me {
    display: flex;
  }

  .about-me p {
    line-height: 1.5;
    padding: 0 10px;
    text-align: left;
  }
  .header-image {
    order: 2;
  }
  .header-image {
    width: 40%;
    align-self: flex-start;
  }

  /* Portfolio */
  .col-md-6 {
    width: 50%;
  }
  .portfolio-item {
    margin-bottom: 25px;
    padding: 5px;
  }
  /* Footer */
  .footer-nav{
      font-size:2.5vw;
      margin-top:25px;
      padding-bottom:50px;
  }
  .nav-links a:not(:last-child){
      margin-right:25px;
  }
}

/* ============Mobile==================== */
@media only screen and (max-width: 320px) {
  .header-image {
    margin: 35px 0 20px 0;
    width: 70%;
  }
  .main-nav {
    display: block;
    font-size: 0.7em;
  }
  .main-nav h1 {
    padding: 10px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links a {
    background-color: #fff;
    margin: 2px;
    padding: 10px;
  }

  .about-text{
      width:90%;
      margin:0 auto;
      font-size:0.7em;
  }
  .main-header{
      padding-bottom:30px;
  }

  main {
    font-size: 0.8em;
  }
  

  .top-button {
    display: block;
    visibility: visible;
  }
  .footer-nav .nav-links {
    display: none;
    visibility: hidden;
  }
  .footer-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: bolder;
    padding: 25px 5px;
  }
}
